.coos-frame {
  background-color: #e6e6e6;
  overflow: overlay;
}
.coos-header-search-input {
  color: #6d6d6d;
  padding: 0px 5px;
  font-size: 13px;
  border-radius: 2px;
  margin-top: 12px;
}
.coos-header-box {
  clear: both;
  background-color: white;
  position: relative;
}
.coos-header {
  position: relative;
}
.coos-body-box {
  clear: both;
  position: relative;
}
.coos-body {
  position: relative;
}
.coos-footer-box {
  clear: both;
  background-color: white;
  position: relative;
}
.coos-footer {
  position: relative;
}
.coos-open-header .coos-header-box {
  margin-top: 0px;
}
.coos-open-body-left .coos-body-left {
  margin-left: 0px;
}
.coos-open-body-right .coos-body-right {
  margin-right: 0px;
}
.coos-header .coos-header-left {
  float: left;
  line-height: 0px;
  overflow: hidden;
  height: 100%;
}
.coos-header .coos-header-center {
  float: left;
  height: 100%;
}
.coos-header li {
  float: left;
}
.coos-header li .coos-icon {
  padding: 0px 10px;
  font-size: 17px;
  display: block;
  float: left;
  line-height: inherit;
}
.coos-header .coos-header-right {
  float: right;
  height: 100%;
  padding-right: 10px;
}
.coos-header-menu {
  padding: 0px 0px;
}
.coos-header-title {
  padding: 10px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.coos-header-content > ul {
  margin-top: 10px;
}
.coos-header-menu > ul {
  margin-top: 10px;
}
.coos-header-button {
  padding: 0px 0px;
}
.coos-header-button > ul {
  margin-top: 10px;
}
.coos-body-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  float: left;
  z-index: 1;
}
.coos-header li {
  cursor: pointer;
  letter-spacing: 1px;
}
.coos-footer li {
  cursor: pointer;
  letter-spacing: 1px;
}
.coos-body-left li {
  cursor: pointer;
  letter-spacing: 1px;
}
.coos-body-right li {
  cursor: pointer;
  letter-spacing: 1px;
}
.coos-header-fixed .coos-header-box {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.coos-footer-fixed .coos-footer-box {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.coos-body-fixed-left .coos-body-left {
  position: fixed;
  bottom: 0px;
  height: auto;
  overflow: auto;
  top: 0px;
}
.coos-hide-back-top .coos-back-top {
  display: none;
}
.coos-body-right {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  float: left;
  z-index: 1;
}
.coos-header {
  height: 100%;
}
.coos-header,
.coos-body {
  margin: 0px auto;
}
.coos-body {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.coos-frame.coos-full-page {
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.coos-frame.coos-full-page .coos-header-box {
  display: none !important;
}
.coos-frame.coos-full-page .coos-footer-box {
  display: none !important;
}
.coos-frame.coos-full-page .coos-body-top {
  display: none !important;
}
.coos-frame.coos-full-page .coos-body-box {
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.coos-frame.coos-full-page .coos-body {
  margin: 0px !important;
  width: 100% !important;
}
.coos-frame.coos-full-page .coos-body-center {
  margin: 0px !important;
}
.coos-frame.coos-full-page .coos-body-left {
  display: none !important;
}
.coos-frame.coos-full-page .coos-body-right {
  display: none !important;
}
.coos-frame.coos-full-page .coos-body-center {
  margin: 0px !important;
}
.coos-full-vertical .coos-body-box {
  margin-top: 0px !important;
}
.coos-full-vertical .coos-body-center {
  margin-top: 0px !important;
}
.coos-full-vertical .coos-header-box {
  border: 0px !important;
}
.coos-full-vertical .coos-footer-box {
  border: 0px !important;
}
.coos-full-horizontal.coos-full-vertical .coos-body-box {
  margin-top: 0px !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.coos-full-horizontal .coos-body-center {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.coos-full-horizontal .coos-body-right {
  margin-right: 0px !important;
}
.coos-header-box {
  transition: all .3s ease 0s;
}
.coos-footer-box {
  transition: all .3s ease 0s;
}
.coos-body-left {
  transition: all .3s ease 0s;
}
.coos-body-right {
  transition: all .3s ease 0s;
}
/* .coos-body-content {
	transition: all .3s ease 0s;
} */
.coos-body-center {
  transition: all .3s ease 0s;
}
.coos-body-menu-center ul li a .arrow {
  transition: all .3s ease 0s;
}
.coos-body {
  width: 100%;
  position: relative;
  background-color: #eaeaea;
  overflow: hidden;
}
.coos-back-top {
  background: none repeat scroll 0 0 #1FAE66;
  bottom: -30px;
  font-size: 32px;
  height: 33px;
  font-weight: bold;
  opacity: 0;
  padding: 0 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 38px;
  z-index: 9999;
  color: #FFFFFF;
  bottom: -60px;
  opacity: 0.5;
  transition: all .3s ease 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.coos-back-top.visible {
  bottom: 0;
}
.coos-back-top.visible:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.coos-body-top {
  height: 25px;
  line-height: 25px;
  outline: 1px solid #f3f3f3;
  /* outline-offset: -1px; */
  padding: 0px 10px;
}
.coos-body-top-navigation {
  float: right;
  /* border-right: 1px solid #eaeaea; */
}
.coos-body-top-navigation ul li {
  float: left;
  list-style: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-left: 1px solid #eaeaea;
  cursor: pointer;
}
.coos-full-horizontal .coos-control-horizontal,
.coos-full-vertical .coos-control-vertical,
.coos-full-horizontal.coos-full-vertical .coos-control-screen {
  color: #ffffff;
  background-color: #666;
}
.coos-body-top-navigation ul li:hover {
  color: #ffffff !important;
  background-color: #afafaf !important;
}
.coos-body-button {
  width: 100%;
}
.coos-body-button .coos-button-navigation {
  clear: both;
}
.coos-body-button .coos-button-navigation > li {
  width: 54px;
  border: 0px !important;
  text-align: center;
  margin: 0px !important;
  padding: 0px;
  float: left;
}
.coos-body-button .coos-button-navigation > li > a {
  margin: 0px !important;
  padding: 0px !important;
}
.coos-body-button .coos-button-navigation > li > a > .coos-icon {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  text-align: center;
  border: 0px solid #ddd;
  border-radius: 50px;
  margin-top: 5px;
  background-color: #f89c2c;
  color: #ffffff;
}
.coos-body-button .coos-button-navigation > li > a > .coos-icon:hover {
  background-color: #fbad4d !important;
  color: #ffffff !important;
}
.coos-body-button .coos-button-navigation > li > a > .coos-caret {
  display: none;
}
.coos-body-button .coos-button-navigation > li > a > .coos-text {
  line-height: 25px;
  height: 25px;
  display: block;
  font-size: 15px;
  display: none;
}
.coos-footer-button {
  padding: 0px 0px;
  float: left;
}
.coos-footer-button > ul {
  margin-top: 5px;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.coos-footer-button > ul > li {
  display: table-cell;
  text-align: center;
  position: relative;
}
.coos-footer-button > ul > li > ul {
  min-width: 100%;
}
.coos-footer-button > ul > li .coos-icon {
  display: block;
}
.coos-footer-button > ul > li .coos-text {
  display: block;
}
.coos-header-menu {
  height: 100%;
  clear: both;
}
.coos-header ul li,
.coos-body-left ul li,
.coos-body-right ul li {
  list-style: none;
  white-space: nowrap;
  display: block;
  position: relative;
}
.coos-header ul li a,
.coos-body-left ul li a,
.coos-body-right ul li a {
  list-style: none;
  white-space: nowrap;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0px 10px;
}
.coos-header-menu ul li a {
  font-size: 15px;
}
.coos-header-menu ul li a .arrow {
  padding-left: 10px;
}
.coos-header-menu ul li a .icon {
  margin-right: 10px;
}
.coos-header-menu .coos-child-menu li a .arrow {
  position: absolute;
  top: 8px;
  right: 10px;
}
.coos-header-menu ul li .coos-child-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: white;
  min-width: 100%;
  padding: 5px 0px;
  border: 1px solid #ccc;
  color: #262626;
}
.coos-header-menu ul li .coos-child-menu li {
  float: none;
}
.coos-header-menu ul li .coos-child-menu li a {
  float: none;
  padding: 0px 15px;
  line-height: 30px;
  height: 30px;
  padding-right: 30px;
}
.coos-header-menu ul li .coos-child-menu li a:hover,
.coos-header-menu ul li .coos-child-menu li a:focus {
  color: #262626 !important;
  text-decoration: none;
  background-color: #f5f5f5 !important;
}
.coos-header-menu ul li:hover > .coos-child-menu {
  display: block !important;
}
.coos-header-menu .coos-child-menu .coos-child-menu {
  left: 100%;
  top: 0px;
}
.coos-body-menu {
  height: 100%;
  width: 100%;
  outline: 1px solid #eaeaea;
}
.coos-body-menu .coos-menu-navigation > li {
  border-top: 1px solid #e7e7eb;
}
.coos-body-menu-center ul li .coos-child-menu .coos-child-menu {
  border-top: 1px solid #e7e7eb;
}
.coos-body-menu-center .coos-menu-title {
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  padding-left: 20px;
}
.coos-body-menu-top {
  width: 100%;
  clear: both;
}
.coos-body-menu-center {
  width: 100%;
  clear: both;
}
.coos-body-menu-bottom {
  width: 100%;
  clear: both;
}
.coos-body-menu-center ul {
  overflow: hidden;
  width: 100%;
}
.coos-body-menu-center ul li {
  list-style: none;
}
.coos-body-menu-center ul li a {
  display: block;
  padding: 0px 20px;
  font-size: 14px;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coos-body-menu-center ul li .coos-child-menu {
  display: none;
}
.coos-body-menu-center ul li a:hover {
  cursor: pointer;
}
.coos-body-menu-center ul li .icon {
  font-size: 19px;
  margin-right: 15px;
  margin-top: 7px;
  float: left;
}
.coos-body-menu-center ul li a .arrow {
  transition: all .3s ease 0s;
}
.coos-body-menu-center ul li a .arrow {
  float: right;
  font-size: 14px;
  line-height: 35px;
  position: absolute;
  right: 15px;
}
.coos-body-menu-center .arrow.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.coos-body-menu.coos-body-menu-open .coos-child-menu {
  display: block !important;
}
.coos-body-menu .coos-child-menu li a {
  padding-left: 40px;
}
.coos-body-menu .coos-child-menu .coos-child-menu li a {
  padding-left: 60px;
}
.coos-body-menu.coos-body-menu-open ul li a .arrow {
  display: none;
}