.coos-td-button-container .coos-one-button {
  margin-right: 5px;
}
.coos-form-button-container .coos-one-button {
  margin-right: 5px;
}
.coos-search-form-button-container .coos-one-button {
  margin-left: 5px;
}